<div class="home-wrapper">
  <header class="home-header">
      <h1 class="home-title">My Posts</h1>
      <nav class="home-nav">
        <%= link_to "Feed", posts_path, class: "button" %>
        <%= link_to "New Post", new_post_path, class: "button-secondary" %>

      </nav>
    </header>

<section class="home-posts-wrapper">
    <% @posts.each do |post| %>
      <%= render partial: "posts/post_template", locals: {post: post} %>
    <% end %>
  </section>
</div>